{% extends "layout.html" %}

{% block body %}

    <div id="container" style="width: 1000px; height: 400px; margin: 0 auto"></div>

    <div id="buttons">
        <span class="small success button" id="area">Area</span>
        <span class="small success button" id="line">Line</span>
        <span class="small success button" id="pie"> Pie </span>
        <span class="small success button" id="bar"> Bar </span>
    </div>
{% endblock %}



{% block script %}
<script type="text/javascript">

    $(document).ready(function() {
        var config;

        $(".button").on("click", function(e) {
            var type    = $(this).attr("id")
            ,   url     = "/" + type + "obj"
            ,   div_id  = "#container";

            draw(div_id, url);

        });
        
        function draw(div_id, url) {
            $.ajax({
                dataType: "json",
                url: url,
                success: function(data) {
                    config = data;
                    $(div_id).highcharts(config);
                }
            });
        }

    });
    
</script>
{% endblock %}





